{deps                   , [ { coveralls
                            , ".*"
                            , {git,
                               "git://github.com/markusn/coveralls-erl.git",
                               "master"}
                            },
                            { parserlang
                            , ".*"
                            , {git,
                               "git://github.com/mikeyhc/parserlang.git",
                               "master"}
                            },
                            { rfc2234
                            , ".*"
                            , {git,
                               "git://github.com/mikeyhc/erfc2234.git",
                               "master"}
                            }
                          ]}.
{plugin_dir             , "deps/coveralls/src"}.
{lib_dirs               , ["deps/parserlang/src",
                           "deps/rfc2234/src"]}.
{cover_enabled          , true}.
{cover_export_enabled   , true}.
